{% extends '@layout/default.html.twig' %}

{% block title %}Product List{% endblock %}
{% block page_title %}{% endblock %}

{% block body_class %}user-form{% endblock %}

{% block content %}

    <span><h1 class="d-inline">Add Product</h1></span>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST" id="addProductorm">
                    <label for="productTitle">Product name</label>
                    <input class="form-control" type="text" id="productTitle" name="productTitle" style="width:550px" maxlength="150" required placeholder="Product title">
                    <label for="imageLink">Product image</label>
                    <input class="form-control" type="text" id="imageLink" name="imageLink" style="width:550px" maxlength="500" required placeholder="Product image link">
                    <label for="productDescription">Product description</label>
                    <textarea class="form-control" type="text" id="productDescription" name="productDescription" style="width:550px" required placeholder="Product description"></textarea>
                    <label for="productPrice">Product price</label>
                    <input class="form-control" type="number" id="productPrice" name="productPrice" style="width:550px" required placeholder="Product price" step="0.01"><br>
                    <button type="submit" class="btn btn-info">Add product</button>
                </form>
            </div>
        </div>
        <br>
    </div>

{% endblock %}
